<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28430214678-c1vvq3aetdh1nfht2iolaht7j0htnqk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28430214678-c1vvq3aetdh1nfht2iolaht7j0htnqk5</string>
	<key>API_KEY</key>
	<string>AIzaSyAKgfEig-uNVcjlIFu7ozBrEMPh0JPC-S4</string>
	<key>GCM_SENDER_ID</key>
	<string>28430214678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klaudiakazimierczak.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait304</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28430214678:ios:f446592dc67bb49adb3737</string>
</dict>
</plist>